div.content
	div.container1
		h1 User Profile

		form#profile( action = '/profile', method = 'POST' )
			h2 Account Information

			div.area 
				div.row
					div.label
						span Email
					div.field
						span #{ user.email }

				div.row
					div.label
						label( for = 'affiliation' ) Affiliation
					div.field
						- if ( user.affil != 'Instructor' )
							select( id = 'affiliation', name = 'affiliation' )
								- if ( user.affil == 'Student' )
									option( value = 'Student', selected = true ) Student
								- else
									option( value = 'Student' ) Student

								- if ( user.affil == 'Teachers Assistant' )
									option( value = 'Teachers Assistant', selected = true ) Teachers Assistant
								- else
									option( value = 'Teachers Assistant' ) Teachers Assistant
						- else
							span #{ user.affil }

			h2 Profile Information

			div.area
				div.row
					div.label
						label( for = 'name' ) User Name
					div.field
						input( id = 'name', type = 'text', name = 'name', value = user.name )

				div.row
					div.label
						label &nbsp;
					div.field
						- if ( user.showName )
							input( style = 'width: auto;', id = 'showName', type = 'checkbox', name = 'showName' , checked )
						- else
							input( style = 'width: auto;', id = 'showName', type = 'checkbox', name = 'showName' )
						| Display your real name in contributions

				- if ( user.affil != 'Instructor' )
					div.row
						div.label
							label( for = 'major' ) Major
						div.field
							input( id = 'major', type = 'text', name = 'major', value = user.major )

				div.row
					div.label
						label( for = 'bio' ) Bio
					div.field
						input( id = 'bio', type = 'text', name = 'bio', value = user.bio )

			h2 Change Password

			div.area
				- if ( user.hashed )
					div.row
						div.label
							label( for = 'existingPassword' ) Old Password
						div.field
							input( id = 'existingPassword', type = 'password', name = 'existingPassword' )

				div.row
					div.label
						label( for = 'newPassword' ) New Password
					div.field
						input( id = 'newPassword', type = 'password', name = 'newPassword' )

				div.row
					div.label
						label( for = 'newPasswordConfirm' ) Confirm Password
					div.field
						input( id = 'newPasswordConfirm', type = 'password', name = 'newPasswordConfirm' )

			div.row
				div.label
					&nbsp;
				div.field
					button Submit
