div.content
	div.container1
		h1 Archived Courses : #{ subject.name }
		ul
			- if ( courses.length > 0 )
				- each course in courses
					li
						- course.section = course.section.replace(/\)/, '')
						a( href = '/archive/course/#{ course.id }' ) #{ course.section + ' - ' + course.name }
			- else
				li No courses found.
