div.content
	div.container1
		h1 Archived Subjects
		p
			| Please browse our archive of past courses covered at Harvard from 2008 through 2010.

		ul
			- if ( subjects.length > 0 )
				- each subject in subjects
					li
						a( href = '/archive/subject/#{ subject.id }' ) #{ subject.name }
			- else
				li No subjects found.

