# Globally ignore
*.DS_Store
*.swp
*.swo

# Imported from https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# Configuration for Guard
Guardfile
.sass-cache/*
