div.header Activate
div.content
	div.container1
		form#credentials( action = '/activate', method = 'POST' )
			div( class = 'row')
				div( class = 'label')
					label( for = 'code' ) Activation Code
				div( class = 'field')
					input( type = 'text', name = 'code', value = code)

			- if ( user.affil === 'Instructor' )
				div( class = 'row')
					div( class = 'label')
						label( for = 'password' ) New Password
					div( class = 'field')
						input( type = 'password', name = 'password' )

				div( class = 'row')
					div( class = 'label')
						label( for = 'name' ) Name
					div( class = 'field')
						input( type = 'text', name = 'name' )

			div( class = 'row')
				div( class = 'label')
					&nbsp;
				div( class = 'field')
					button Submit
