div.footer
	table
		tr
			td.col1
				div.logo
					img.lilogo(src="/images/finals-club-wht.png", title="FinalsClub.org")
				div Copyright 2011
				div All Rights Reserved
			td.col2
				a(href="/conduct") Code of Conduct
				a(href="http://blog.finalsclub.org/about.html") About
				a(href="http://blog.finalsclub.org/contact.html") Contact
				a(href="http://blog.finalsclub.org/legal.html") Legal
				a(href="http://blog.finalsclub.org/team.html") Team

div.footerer
	p
		| This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 United States License
	p
		a(rel="license",href="http://creativecommons.org/licenses/by-sa/3.0/us/")
			img(alt="Creative Commons License",style="border-width:0",src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png")



