div.content
	div.container1
		h1 Login
		form#credentials( action = '/login', method = 'POST' )
			div.zarea 
				div( class = 'row')
					div( class = 'label')
						label( for = 'email' ) Email
					div( class = 'field')
						input( type = 'text', name = 'email', size='15', value = session.email )

				div( class = 'row')
					div( class = 'label')
						label( for = 'password' ) Password
					div( class = 'field')
						input( type = 'password', name = 'password', size='15')

				div( class = 'row')
					div( class = 'label')
						&nbsp;
					div( class = 'field')
						button.major Login
						span.reglink
							a( href = '/resetpw' ) Forgot password?
				div( class = 'row')
					div( class = 'label')
						&nbsp;
					div( class = 'field')
						span.reglink
							a( href = '/register' ) Create an Account

script
	$( document ).ready( function() {
		if( $( 'input[name=email]' ).val() ) {
			$( 'input[name=password]' ).focus();
		} else {
			$( 'input[name=email]' ).focus();
		}
	});
