script.
	$(function() {
		$( '[name=school]' ).change(function() {
			if ( $(this).val() === 'Other' ) {
				$(this).parent().append('<div class="field" id="otherSchool"><input type="text" name="otherSchool"></div>');
			} else {
				if ( $( '#otherSchool' ) ) $( '#otherSchool' ).remove();
			}
		})
	});
div.content
	div.container1
		h1 Create an Account
		form#credentials( action = '/register', method = 'POST' )
			div.zarea 
				div( class = 'row')
					div( class = 'label')
						label( for = 'email' ) Email
					div( class = 'field')
						input( type = 'text', name = 'email' )

				div( class = 'row')
					div( class = 'label')
						label( for = 'password' ) Password
					div( class = 'field')
						input( type = 'password', name = 'password' )

				- if ( schools.length > 0 )
					div( class = 'row')
						div( class = 'label')
							label( for = 'school' ) School
						div( class = 'field')
							select( name = 'school' )
								- each school in schools
									option( value = '#{school.name}' ) #{ school.name }
								option( value = 'Other' ) Other

				div( class = 'row')
					div( class = 'label')
						label( for = 'name' ) Name
					div( class = 'field')
						input( type = 'text', name = 'name' )

				div( class = 'row')
					div( class = 'label')
						label( for = 'affil' ) Affiliation
					div( class = 'field')
						select( name = 'affil' )
							option( value = 'Student' ) Student
							option( value = 'Teachers Assistant' ) Teachers Assistant

				div( class = 'row')
					div( class = 'label')
						&nbsp;
					div( class = 'field')
						button Register
