div.content
	div.container1
		h1 New Lecture
		p
			| Use this form to create a new lecture.
			| After creating the lecture, you can then create a notes-taking session within it.

		form( method = 'POST' )
			div.zarea
				div.row
					div.label
						label( for = 'name' ) New lecture name
					div.field
						input( type = 'text', name = 'name' )
				div.row
					div.label
						&nbsp;
					div.field
						button Create Lecture
