/* ----------------------------------------------------------------

Title: Master styles for screen media
Author: Jordan Cooperman, jordan@vectormediagroup.com
Year: 2012

----------------------------------------------------------------

Oh, I didn't see you there, friend.

Please have a look around, I hope you enjoy your stay.

----------------------------------------------------------------

[Table of contents] - a map of our grounds.

    0.General
        a.elements
        b.classes

    1.Layout
        a.header
        b.content
        c.footer

    2.Extensible Classes


    *.Pages, modules, sprites and media queries imported at end

----------------------------------------------------------------

[Prefixes] - some patterns that you may observe.

    g: global
    s: state

---------------------------------------------------------------- */

$blue: #0ca6ff;
$dark: #1f1e1c;
$gold: #ffcd58;
$mustard: #e8a200;

@import "partials/mixins";
@import "partials/grid";
@import "partials/type";


/* 0.`General
---------------------------------------------- */


/* a.`elements
-------------------------- */

h1, h2, h3, h4, h5, h6 { margin: 0; margin-bottom: $base/4; }

h1 {
    @extend .gigantic;
    @extend .futura-light;
}

h2 {
    @extend .huge;
}

h3 {
    @extend .large;
}

a {
    @include transition( color );
    color: $mustard;

    &:hover {
        color: $mustard;
    }
}

p {
    @extend .futura;
    @extend .big;
    margin: 0;
    margin-bottom: $base/2;
    color: #444;
}

img {
    max-width: 100%;
}

::-moz-selection { background: #44a1dd; color: #fff; text-shadow: none; }
::selection { background: #44a1dd; color: #fff; text-shadow: none; }


/* b.`classes
-------------------------- */

// for asychronous typekit loading
@each $element in h1, h2, h3, h4, h5, h6, p, li {
    .wf-loading #{$element} {
        opacity: 0;
    }

    #{$element} {
        @include transition( opacity );
        opacity: 1;
    }
}


/* 1.`Layout
---------------------------------------------- */

html,
body {
  height: 100%;
  margin: 0;
}

body {
    // background-color: #262626;
    background-position: 20% 0;
    border-top: 3px solid $dark;
}



/* a.`header
-------------------------- */

#g-masthead {
    @extend .futura;
    background-color: #262626;

    .wrapper {
        background-color: #262626;
    }
}

#g-logo {
    @extend .grid-3;

    a {
        display: block;
    }
}

#g-nav-user {
    @extend .grid-8;
    padding: $base/4 $base/2 $base/2;
    text-align: right;
    @extend .small;

    ul {
        @extend .tight-line-height;
    }

    li {
        display: inline;

        &.first, &.first a {
            border: 0;
        }
    }

    a {
        padding: 0 $base/2;
        color: $gold;
    }
}

#g-nav-main {
    @extend .grid-5;
    @extend .group;

    ul {
        float: right;
        padding: $base/4 0;
    }

    li { @include inline-block; }

    a {
        position: relative;
        display: block;
        padding: $base/4 0;
        margin-left: $base;
        @extend .big;
        color: #fff;

        &:hover {
            color: $gold;
        }

        .icon {
            position: absolute;
            left: 0;
        }
    }

    #school_link {
        padding-left: $base*1.4;

        &:hover .icon { @extend .paperclip-active; }

        .icon {
            @extend .paperclip;
            top: 50%;
            margin-top: -10px;
        }
    }

    #blog_link {
        padding-left: $base*1.3;

        &:hover .icon { @extend .align-lines-active; }

        .icon {
            top: 50%;
            margin-top: -9px;
            @extend .align-lines;
        }
    }

    #archive_link {
        padding-left: $base*1.2;

        &:hover {

            .icon { @extend .book-active; }
        }

        .icon { @extend .book; }
    }
}

#g-masthead-hr {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    @extend .grid-8;
    top: 100%;
    height: 3px;
    border: 0;
    background-color: $gold;
}


/* b.`content

-------------------------- */

#g-page {
    background-color: #fff;
    margin-bottom: $base*2;
}

.page {
    display: none;
    @extend .group;
    margin-bottom: $base;
    margin-top: 3px;
    color: #333;
}

.breadcrumb {
    @extend .grid-8;
    @extend .big;
    @extend .group;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fafafa;

    a {
        display: block;
        float: left;
        padding: $base/4;

        &:hover {

            .action {
                color: $mustard;
            }

            .location {
                color: #666;
            }
        }

        span {
            @include transition( color );
        }
    }

    .action {
        color: #666;
    }

    .location {
        @extend .futura-oblique;
        color: #bbb;
    }
}

.subheader {
    @extend .grid-8;
    padding: $base*2 0;

    h1, h3 {
        margin: 0;
        @extend .tight-line-height;
    }

    h1 {
        color: #333;
    }

    h2 {
        @extend .futura-light;
    }
}

.main-content {
    @extend .grid-8;
}

/* c.`footer
-------------------------- */


#g-footer {
    @extend .grid-8;
    text-align: center;
}

#g-nav-footer {
    margin-bottom: $base/2;
    text-align: center;

    li {
        display: inline;
        text-align: center;
        @extend .mini;
    }

    a {
        padding: 0 $base/2;
    }
}

#g-footer-copyright {
    @extend .tiny;

    img {
        margin: 0 auto;
        margin-bottom: $base/2;
    }

}
.footer {
  color: #444;
  padding-top: 24px;
  #footer-nav {
    float: right;
    margin-right: -16px;

    li {
      display: inline-block;
      *display: inline;
    }
    a {
      @include transition(color);
      padding: 5px 16px;
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
  p {
    float: right;
    clear: both;
    margin-top: 24px;
  }
  .creative_commons {
    .section {
      clear: both;
      float: right;
    }
    float: right;
    clear: both;
    a {
      color: #777;
    }
  }
}

/* 7.`Extensible Classes
---------------------------------------------- */

.group {
    &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

.right { float: right !important; }
.left { float: left !important; }

.spacer {
  padding-top: 16px;
  padding-bottom: 32px;
}

.half-width { width: 50%; }
.centered { text-align: center;}
.centered-rt-parent { margin: 0 auto;}


@import "partials/sprites"; // A
@import "partials/pages";   // B
@import "partials/modules"; // C
@import "partials/media";   // D
