@font-face {
    font-family: 'fonts/futura/FuturaLight';
    src: url('futuralt-light-webfont.eot');
    src: url('futuralt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-light-webfont.woff') format('woff'),
         url('futuralt-light-webfont.ttf') format('truetype'),
         url('futuralt-light-webfont.svg#FuturaLTLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fonts/futura/FuturaOblique';
    src: url('futuralt-oblique-webfont.eot');
    src: url('futuralt-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-oblique-webfont.woff') format('woff'),
         url('futuralt-oblique-webfont.ttf') format('truetype'),
         url('futuralt-oblique-webfont.svg#FuturaLTOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fonts/futura/FuturaRegular';
    src: url('futuralt-webfont.eot');
    src: url('futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-webfont.woff') format('woff'),
         url('futuralt-webfont.ttf') format('truetype'),
         url('futuralt-webfont.svg#FuturaLTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaStdBold';
    src: url('futurastd-bold-webfont.eot');
    src: url('futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('futurastd-bold-webfont.woff') format('woff'),
         url('futurastd-bold-webfont.ttf') format('truetype'),
         url('futurastd-bold-webfont.svg#FuturaStdBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


