!!!
html
  head
    title FinalsClub.org
    link(rel='stylesheet', href='/stylesheets/fc2.css')

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    //script(type='text/javascript', src='/javascripts/fc.js')

    script(type='text/javascript', src='/socket.io/socket.io.js')

    - if ( 'undefined' !== typeof stylesheets )
        - each stylesheet in stylesheets
            link( rel = 'stylesheet', href = '/stylesheets/#{ stylesheet }' )

    - if ( 'undefined' !== typeof javascripts )
        - each javascript in javascripts
            script( type = 'text/javascript', src = '/javascripts/#{ javascript }' )

  body
    include masthead
    != messages()
    != body
