div.content
	div.container1

		div.conduct

			h1 Code of Conduct

			p.academic
				img(src="/images/keep-it-academic.png", alt="Keep it academic.")

			p.vague.
				This directive is deliberately vague to accommodate creative humor, insight, and exploration.<br>
				Disruptive or irrelevant material, however, will be subject to removal.<br>
				Just keep it academic, and we'll all be better off.<br>
