div.content
	div.container1

		h1 Contact FinalsClub.org

		p
			| Please feel free to contact us regarding any question you may have.

		table.contact
			tr
				td Email:
				td 
					a(href="mailto:info@finalsclub.org") info@finalsclub.org
			tr
				td Mail Address:
				td FinalsClub.org<br>1132 Massachusetts Avenue<br> Cambridge, MA 02138

		p
			| For more information about FinalsClub.org,
			| please email Andrew ~at~ FinalsClub d0t org
			| with any press inquiries or to help set up a chapter of FinalsClub.org at your campus.

