div.content
	div.container1

		h1 FinalsClub in the Press

		div.press
			// h2 Boston Globe Article
			img.press(src="/images/boston.com.png")
			p.date December 13, 2009
			p Plenty of Harvard graduates have traded on the fame and prestige of their alma mater, but few have done so the way Andrew Magliozzi has. The year he graduated, 2005, he started a tutoring company located steps from Harvard Yard, with a name, Veritas, that is the motto of his storied alma mater.
			p Then, two years ago, Magliozzi started up a side project called Finalsclub.org.

			// p This December 2009 article details FinalsClub's aim to access and share the academic content of elite university courses with the world at large.  Although intellectual property issues are not unique to the convergence of university education and online communication, they have been given increasing visibility as organizations like FinalsClub begin to raise copyright questions for universities similarly to those faced by the music, movie, and publishing industries. Advocates of open education initiatives, such as former Harvard Dean Harry Lewis, respond to copyright concerns by invoking the higher purpose of higher education.  Meanwhile, Mr. Magliozzi highlights the potential for improving educational opportunities within and without the classroom on FinalsClub.org
			p.readmore
				a(href="http://www.boston.com/bostonglobe/ideas/articles/2009/12/13/freeharvardeducationcom") Read more ...

		hr

		div.press
			// h2 Harvard Crimson Article
			img.press(src="/images/harvard-crimson.jpg")
			p.date Wednesday, February 18, 2009
			p A rapidly growing course preparatory Web site, FinalsClub.org, is moving forward with a plan to expand its site in spite of controversy over the legality of the venture. 

			p The Web site, which allows students to share notes, create study groups, and blog about lectures and sections, recently hired 10 Harvard College students to serve as BETA testers for the site. 

			// p The Harvard Crimson's February 2009 article details FinalsClub's relationship with Harvard University along with the project's plans for future development. After encountering initial resistance, in 2008, from one Harvard professor whose lectures served as material for FinalsClub content, FinalsClub founder Andrew Magliozzi added an opt-out option for professors. Efforts to advance the relationship with Harvard's administration stalled even as new relationships with the student body were developed through campus beta testing. 
			p.readmore
				a(href="http://www.thecrimson.com/article/2009/2/18/finalscluborg-passes-punch-span-stylefont-weight-boldcorrection") Read more ...
		
		hr

		div.press
			// h2 Bits Blog Post
			img.press(src="/images/blown-to-bits.png")
			p.date September 27th, 2009
			p Computer Science professor and former Dean of Harvard, Harry Lewis, embraces FinalsClub's work and its guiding principle of open education.  Even as Harvard University has not been wholly sympathetic to the FinalsClub mission, invoking the Copyright Act of 1976, assuming a similar position to other major institutions such as University of Texas, Lewis supports working towards the proverbial "temple of the free exchange of ideas."  A course he taught in the Harvard Extension School was also shared freely online.  
			p.readmore
				a(href="http://www.bitsbook.com/2009/09/a-harvard-skirmish-in-the-copyright-wars") Read more ...

