/*----------------------------------------------------------------

[Table of contents]

 0.Home
 1.Layout

----------------------------------------------------------------*/

.page {
    display: none;
    @include transition( all );
}

.section-home {
    margin-bottom: $base;
}

#intro-text {
    @extend .grid-4;
}

#intro-video {
    @extend .grid-4;
}

#intro-schools {
    @extend .grid-8;

    h4 {
        padding-bottom: $base/2;
        border-bottom: 1px solid #e5e5e5;
    }

    li {
        display: inline;
        padding: $base/3;
        @extend .tiny;
    }
}
