<p>FinalsClub EPL Monitor Warning</p>

<p>The Automated FinalsClub EPL Monitor script was not successfull.</p>
<p>DATE: <%= date %></p>
<p>URL: <a href="<%= url %>"><%= url %></a></p>

<p>Monitor Report Details</p>
<pre><%= msgs %></pre>

<a href="http://finalsclub.org">FinalsClub.org</a>


