<p>Hello,</p>

<p>Welcome to FinalsClub.org! Before you can use your account you will need to activate it by visiting the following URL:</p>

<p><a href="http://<%- serverHost %>/activate/<%- user._id %>">http://<%- serverHost %>/activate/<%- user._id %></a></p>

<p>Thank you!</p>
