<p>Dear <%= user.name %>,</p>

<p>Welcome to <a href="http://finalsclub.org">FinalsClub.org</a> an online learning community to help young scholars learn better, faster, and smarter.  Rather than learning in isolation, FinalsClub allows students to take notes together and share their academic activity for the common good.</p>

<p>Open Courseware was created by administrators at MIT, Yale, Berkeley and other innovative universities. FinalsClub, however, is a bottom-up project that relies on the entire academic community to change academic knowledge from a private privilege to a free and open resource for everyone.</p>

<p>Although FinalsClub is not yet available at your school, we encourage you to email us at <a href="mailto:info@finalsclub.org">info@finalsclub.org</a> and we will strive to include you and your peers as quickly as possible. Together we can change how people learn everywhere, one class at a time.</p>

<p>
Sincerest Regards,<br>
Andrew Magliozzi<br>
Founder, <a href="http://finalsclub.org">FinalsClub.org</a>
</p>

<p><i>FinalsClub is a registered 501(c)3 non-profit, open education, free and open source project.  All of of our educational content is shared under a <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative-Commons Attribution Share-Alike</a> license.</i></p>
