<p>Hello,</p>

<p>Your FinalsClub.org password has been reset. This is because someone requested that your password be reset on FinalsClub.org.</p>
<p>If this was not you, then you can ignore this email.</p>

<p>You can reset your password by visiting the following link in your browser:</p>

<p><%- resetPassUrl %></p>

<p>Thank you!</p>
