<p>The following user's email did not match any schools:</p>

<p>
Name: <%= user.name %><br>
Email: <%= user.email %><br>
School Name Chosen: <%= user.school %><br>
Affiliation: <%= user.affil %>
</p>
