div.content
	div.container1
		form( method = 'POST' )
			h1 Create New Course
			p
				| Use this form to create a new course.
				| After creating the course, you can create a lecture with in it.

			div.row
				div.label Course number
				div.field
					input( type = 'text', name = 'number' )

			div.row
				div.label Course name
				div.field
					input( type = 'text', name = 'name' )
			div.row
				div.label Course subject
				div.field
					input( type = 'text', name = 'subject' )
			div.row
				div.label Course department
				div.field
					input( type = 'text', name = 'department' )
			div.row
				div.label Instructor's Name
				div.field
					input( type = 'text', name = 'instructorName' )
			div.row
				div.label Instructor's Email
				div.field
					input( type = 'text', name = 'email' )
			div.row
				div( class = 'label')
					&nbsp;
				div( class = 'field')
					button Create Course
